.is-full {
  width: 100%;
  height: 100vh;
  transform: translate(0, 0);
  transition: all ease .1s;
}

.fadeIn-enter-active {
  transition: all ease .3s;
}

.fadeIn-leave-active {
  transition: all ease .2s;
}

.fadeIn-enter {
  opacity: 0;
  transform: scale(1.2);
}

.fadeIn-leave-active {
  opacity: 0;
  transform: scale(1.1);
}

.slideIn-enter-active {
  transition: all ease .3s;
}

.slideIn-leave-active {
  transition: all ease .2s;
}

.slideIn-enter,
.slideIn-leave-active {
  opacity: 0;
  transform: translateX(100%);
}

.slideUp-enter-active {
  transition: all ease .3s;
}

.slideUp-leave-active {
  transition: all ease .2s;
}

.slideUp-enter,
.slideUp-leave-active {
  opacity: 0;
  transform: translate(-50%, 100%) !important;
}
